.owl-item {
    width: 540px;
    margin-right: 30px
}

.owl-stage {
    transform: translate3d(-3990px, 0px, 0px);
    transition: all 0s ease 0s;
    width: 4560px
}

.owl-prev {
    display: none;
}

.owl-next {
    display: none;
}

.pb-10 text-white {
    color: black;
}

.footer {
    background-color: black;
    text-color: white;
    padding: 25px 0;
    text-align: center;
    color: whitesmoke;
    margin-bottom: -120px;
    margin-top: 40px;
}

#contact {
    margin-bottom: -40px;
}


/* Style for Services page */

.masthead {
    height: 300px;
}

.intro-heading {
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: azure;
    margin-top: -250px;
}

.subtitle {
    font-size: 25px;
}

.btn-primary {
    background-color: transparent;
    border-color: transparent;
    margin-top: -45px;
}

.btn-xl {
    font-size: 15px;
    padding: 8px 15px;
}


/* Style for Contact form */

.submitbtn {
    margin-top: 50px;
    background-color: white;
    border-color: white;
    color: black;
}